@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --size-display-large: 75px;
  --size-display-medium: 45px;
  --size-display-small: 36px;

  --size-headline-large: 32px;
  --size-headline-medium: 28px;
  --size-headline-small: 24px;

  --size-title-large: 22px;
  --size-title-medium: 16px;
  --size-title-small: 14px;

  --size-label-large: 14px;
  --size-label-medium: 12px;
  --size-label-small: 11px;

  --size-body-large: 16px;
  --size-body-medium: 14px;
  --size-body-small: 12px;

  --bg-color: #fbfbfc;
  --black-color: #1D1D1F;
  --white-color: #ffffff;
  --secondary-color: #a0a0a0;

  --font-family: 'Poppins', sans-serif;
  --border: 1px solid #dddde1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul[role='list'],
ol[role='list'] {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  background-color: var(--bg-color);
  font-family: var(--font-family);
  padding-inline: clamp(2px, 10vw, 135px);
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

input {
  border: none;
  outline: none;
}
input::placeholder {
  user-select: none;
}


button {
  border: none;
  outline: none;
  border-radius: 3px;
  user-select: none;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.btn {
  font-size: var(--size-label-large);
  white-space: nowrap;
  padding: 7px 17px;
  cursor: pointer;
}

.btn-primary {
  background-color: #1a56db;
  color: var(--white-color);
  outline: 0px solid #1a57db59;
  transition: all 0.1s ease;
}

.btn-primary:hover {
  outline: 4px solid #1a57db59;
}

.btn-primary:focus-visible,
.btn-primary:active {
  background-color: #1a56db;
  outline: none;
}

.btn-light {
  background-color: #f0f0f0;
  color: var(--black-color);
  outline: 2px solid #cecfd0;
  transition: all 0.1s ease;
}

.btn-light:hover {
  outline: 4px solid #e5e8ea;
}

.btn-light:focus-visible,
.btn-light:active {
  background-color: #f0f0f0;
  outline: 2px solid #dee2e6;
}

.btn-danger {
  background-color: #dc3545;
  color: var(--white-color);
  outline: 0px solid #dc3545;
  transition: all 0.1s ease;
}

.btn-danger:hover {
  outline: 4px solid #dc354672;
}

.btn-danger:focus-visible,
.btn-danger:active {
  background-color: #dc3545;
  outline: 0px solid #dc3545;
}

.btn-warning {
  background-color: #ffc107;
  color: var(--black-color);
  outline: 0px solid #ffc107;
  transition: all 0.1s ease;
}

.btn-warning:hover {
  outline: 4px solid #ffc10770;
}

.btn-warning:focus-visible,
.btn-warning:active {
  background-color: #ffc107;
  outline: 0px solid #ffc107;
}

.btn-success {
  background-color: #28a745;
  color: var(--white-color);
  outline: 0px solid #28a745;
  transition: all 0.1s ease;
}

.btn-success:hover {
  outline: 4px solid #28a74570;
}

.btn-success:focus-visible,
.btn-success:active {
  background-color: #28a745;
  outline: 0px solid #28a745;
}

.input {
  background-color: white;
  border: 1px solid #d1d5db;
  border-radius: 3px;
  font-size: var(--size-label-large);
  padding-inline: 7px;
  height: 33px;
  outline: 0px solid #dee2e6;
  transition: all 0.1s ease;
}

.input:focus-visible,
.input:active,
.input:focus {
  outline: 4px solid #dee2e6;
}

.input.danger {
  background-color: white;
  border: 1px solid red;
  outline: 4px solid #FF000030;
  border-radius: 3px;
  font-size: var(--size-label-large);
  padding-inline: 7px;
  height: 33px;
  transition: all 0.1s ease;
}

select {
  border: none;
  outline: none;
  user-select: none;
}

.select {
  border: var(--border);
  border-radius: 3px;
  outline: 0px solid #dee2e6;
  transition: outline 0.1s ease;
}

.select:focus-visible,
.select:focus,
.select:active,
.select:checked
{
  outline: 4px solid #dee2e6;
}


/* ========================================= */
/* ========================================= */

ul.alerts {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 10px;
  display: block;
  z-index: 2;
}

.alerts .alert {
  position: absolute;
  left: 0;
  top: 0;
  margin: 10px;
  width: min(350px, 95%);
  min-height: 70px;
  margin-bottom: 10px;
  border-radius: 6px;
  opacity: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transform: translateX(calc(-100% - 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
}

.alerts .alert:hover {
  cursor: pointer;
}

.alerts .alert.show {
  opacity: 1;
  transform: translateX(0);
}

.right-circle {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  aspect-ratio: 1/1;
  cursor: pointer;
  user-select: none;
  transition: all 0.1s ease;
}

.right-circle:hover {
  background-color: var(--white-color);
}

.left-section {
  display: flex;
  align-items: center;
  justify-content: start;
  column-gap: 0.5rem;
}

.left-section .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1/1;
}

.left-section .circle i {
  font-size: 1.7rem;
  color: var(--white-color);
}

.right-circle i {
  font-size: 1.5rem;
}

.text-container h4 {
  font-size: var(--size-title-small);
  color: var(black);
  user-select: none;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.text-container span {
  font-size: var(--size-label-medium);
  line-height: 15px;
  color: #5f6261;
  user-select: none;
}

.alert.alert-success {
  background-color: #f1f8f4;
  border: 1px solid #c6e3ca
}

.alert.alert-danger .circle{
  background-color: #fc5758;
}

.alert.alert-danger {
  background-color: #faefeb;
  border: 1px solid #eecdc3;
}

.alert.alert-success .circle{
  background-color: #50dc6c;
}



h1 {
  font-size: var(--size-headline-small);
  font-weight: 600;
  margin-top: 15px;
  margin-bottom: 10px;
  color: var(--black-color);
}

h1 span {
  color: var(--secondary-color);
}

.outside-container {
  background-color: var(--white-color);
  width: 100%;
  border: var(--border);
  border-radius: 7px;
  padding: 8px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 17px;
}

.hero-section {
  width: 100%;
  min-height: 200px;
  border: var(--border);
  border-radius: 4px;
  background-color: #C7F7F9;

  display: flex;
  align-items: center;
}

.hero-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 100%;
  width: 100%;
}

.hero-ul li {
  width: 33.33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-inline: 40px;
}

.hero-ul li:nth-child(2){
  border-inline: 1px solid var(--secondary-color);
}

.hero-ul li h3 {
  font-size: clamp(var(--size-label-medium), 2.5vw , var(--size-title-small));
  font-weight: 500;
  color: gray;
}

.hero-ul li p {
  font-size: clamp(var(--size-body-large), 2.5vw, var(--size-title-medium));
  font-weight: 600;
}

@media screen and (max-width: 660px) {
  .hero-ul {
    flex-direction: column;
  }

  .hero-ul li:nth-child(2){
    border-inline: 0px solid white;
    border-block: 1px solid gray;
  }

  .hero-ul {
    row-gap: 0.5rem;
  }

  .hero-ul li{
    padding-block: 0.5rem;
    align-items: center;
    text-align: center;
  }

}

/* ======================= */ 

.main-section {
  width: 100%;
  border: var(--border);
  border-radius: 4px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  row-gap: 12px;

}

.table-container {
  width: 100%;
  overflow-x: auto;
}

.table-container table {
  width: 100%;
}

.top-bar {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 1rem;
  border-radius: 2px;
}

.top-show-filter {
  white-space: nowrap;
}

.top-left-filter {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.search-bar {
  height: 34px;
}




@media screen and (max-width: 665px) {
  .top-bar {
    flex-direction: column;
    row-gap: 0.5rem;
  }
  .top-show-filter {
    order: 2;
    width: 100%;
  }
  .top-left-filter{
    order: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    column-gap: 0.5rem;
  }
  .top-left-filter input {
    width: 100%;
  }

}

table {
  border-collapse: collapse;
  border: var(--border);
}

.header-table {
  border-bottom: var(--border);
  border-radius: 20px;
  background-color: #f3f3f3;
  height: 40px;
}

table tr {
  height: 45px;
}

tr td {
  padding-left: 10px;
  white-space: nowrap;
}

tbody tr td button {
  margin-right: 0.2rem;
}

/* create-form */

.create-form {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  min-height: 100%;
  background-color: #00000050;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: all 0.1s ease;
}

.create-form.show {
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}

.pup-up-form {
  position: relative;
  background-color: var(--white-color);
  width: 30%;
  padding: 20px;
  border-radius: 4px;
  border: var(--border);

  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  row-gap: 0.5rem;

  opacity: 0;
  user-select: none;
  transform: translateY(-30%);
  pointer-events: none;
  transition: all 0.2s ease;
}


.pup-up-form.show
{
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
  transform: translateY(0);
}

.pup-up-form h2 {
  font-size: var(--size-title-large);
  font-weight: 600;
  color: var(--black-color);
}

.pup-up-form .bx-x {
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 2rem;
  cursor: pointer;
}

.button-bar {
  align-self: end;
}

.overlay-view {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000050;

  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  user-select: none;
  pointer-events: none;
  transition: all 0.1s ease;
}

.overlay-view.show {
  opacity: 1;
  user-select: auto;
  pointer-events: auto;
}

.view-form {
  background-color: var(--white-color);
  border-radius: 4px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  row-gap: 0.5rem;
  position: relative;
  width: 30%;
  height: 40%;

  opacity: 0;
  user-select: none;
  transform: translateY(-30%);
  pointer-events: none;
  transition: all 0.2s ease;
}

.view-form.show {
  opacity: 1;
  user-select: auto;
  transform: translateY(0);
  pointer-events: auto;
}

.view-form .bx-x {
  position: absolute;
  right: 7px;
  top: 7px;
  font-size: 2rem;
  cursor: pointer;
}

